@import "tailwindcss";
/* 
*{
  margin: 0;
  padding: 0;
} */

body{
  background-color: #213a56;
  font-family: "Roboto", sans-serif;
}

.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #b9c4cf;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
}

::-webkit-scrollbar-button {
  display: none;
}


